<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p style="text-align:center">
                    As a Software Developer, I invest in myself by diving into new realms outside my bubble. I love
                    discovering how things work and learning the process. I strive to make an impact at a
                    professional and personal level. To me that takes effective planning, team work, and creativity.
                </p>
            </div>
            <div class="col-lg-4">
                <p style="text-align:center">
                    Whether you're an emloyer or a fellow coder looking to connect plese contact me below! Or download
                    my resume with my contact information.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://docs.google.com/document/d/1mtKxAcYTRwiXvNp5V3ySMf4PnIPuvMFUi-T-QQGXvek/export?format=pdf" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Resume PDF
                </a>
                <a style="padding-right:25px"></a>
                <a href="https://docs.google.com/document/d/1mtKxAcYTRwiXvNp5V3ySMf4PnIPuvMFUi-T-QQGXvek/export?format=docx" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Resume docx
                </a>
            </div>
        </div>
    </div>
</section>